<footer>
    <div class="footer-info">
        <div class="socials">
            <a class="fa-brands fa-square-facebook" href="https://www.facebook.com/profile.php?id=100058660474167"
                target="_blank"></a>
            <a class="fa-brands fa-square-instagram" href="https://www.instagram.com/sachin.saini.8/"
                style="background-color: #962fbf; border-radius: 25px; color: #fff; " target="_blank"></a>
            <a class="fa-brands fa-linkedin" href="https://www.linkedin.com/in/sachin-saini-30191024b"
                target="_blank" style="color: #fff; background-color: blue;"></a>
            <a class="fa-brands fab fa-github" href="https://github.com/SachinSaini7" target="_blank"
                style="background-color: black; color: #fff; border-radius: 25px;"></a>
        </div>
        <div class="f-info-brand"> &copy; &nbsp; <b style="color: #fe424d;">The‑Stay‑Spot</b> <span> ‑ Book Your Stay Today</span></div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="terms">Terms</a>
        </div>
    </div>
    <div class="patent f-info-brand">&copy; &nbsp;<i>Developed and Maintained By <strong>Sachin Saini Dev</strong></i>
    </div>
</footer>